<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>game finder</title>

</head>
<body>
<h1>Games joined</h1>
<p>
    {{#gameModels}}
        <div>{{id}}</div>
        <div>{{startHour}}</div>
        <div>{{pitchModel.location}}</div>



    {{/gameModels}}

</p>
</body>
</html>