<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>games</title>


</head>
<body>
list of games
{{#gameModel}}
    <div>{{id}}</div>
    <div>{{pitchModel.id}}</div>
    <div>{{pitchModel.location}}</div>
    <div>{{startTime}}</div>
    <button>unirse</button>>

{{/gameModel}}
</body>
</html>