<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body style="background-color: black">
<h1>list of users</h1>
<div style="background: gray; color: black">
{{#users}}
    <div style="background: aquamarine; margin: 5px">{{id}}</div>
    <div style="background: aliceblue; color: brown; margin: 5px; margin-left: 30px">{{username}}</div>
    <div style="background: aliceblue; color: brown; margin: 5px; margin-left: 30px">{{password}}</div>
    <div style="background: aliceblue; color: brown; margin: 5px; margin-left: 30px"></div>

{{/users}}
</div>
</body>
