<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            font-family: Arial,sans-serif;
            background-color: #f4f4f4;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;

        }
        .container{
            display: flex;
        }
        button{

            background: #007BFF;
            color: white;
            border: none;
            cursor: pointer;
            width: 100px;
            height: 35px;
            border-radius: 5px;
            margin: 10px;

        }


    </style>




</head>
<body>
<div class="container">

<div>
{{#pitchModel}}
    <h2>pitch : {{name}}</h2>

{{/pitchModel}}


<div>
{{#gameModel}}

        <form action="/user/games/details" method="get">
            <p>{{startTime}}
                <input type="hidden" name="userId" value="{{userModelId}}">
                <input type="hidden" name="gameId" value="{{id}}">
                <button type="submit">Details </button>
            </p>
        </form>

{{/gameModel}}
        <form action="/user/games" method="get">
            <input type="hidden" name="id" value="{{userModelId}}">
            <button type="submit">return</button>
        </form>
</div>
</div>
</div>
</body>
</html>