<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="menu">
    <p>Menu</p>
    <p>
        {{#userModel}}
            Welcome {{userModel.username}}
        {{/userModel}}
        {{#message}}
           {{message}}
        {{/message}}
    </p>
    <div>
        <form method="post" action="/user/accountSettings">
            <input type="hidden"  name="id" value={{id}}>
            <input type="submit" value="Account Settings">
        </form>
    </div>

    <div>
        <form method="POST" action="user/games">
            <input type="hidden" name="id" value={{userModel}}>
            <button type="submit" value="Game Finder">Game Finder</button>
        </form>
    </div>

    <div>
        <a href="/login">

            <button>Logout</button>

        </a>

    </div>



</div>
</body>
</html>