<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Finder</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .games-container {
            background: white;
            padding: 25px;
            border-radius: 8px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            width: 300px;
        }
        h1 {
            margin-bottom: 15px;
        }
        .game-item {
            background: #e0e0e0;
            padding: 10px;
            margin: 5px 0;
            border-radius: 5px;
        }
    </style>
</head>
<body>

<div class="games-container">
    <h1>Games Joined</h1>
        <div class="game-item">
            {{#userModel.gameModel}}
            <div><strong>ID:</strong> {{id}}</div>
            <div><strong>Start Hour:</strong> {{startTime}}</div>
            <div><strong>Pitch::</strong> {{pitchModel.name}}</div>
            {{/userModel.gameModel}}
        </div>
</div>

<div>
    <h4>Pitches</h4>
{{#pitchModel}}
    <form action="/user/pitch/games" method="get">
        <input type="hidden" name="userId" value="{{userModel.id}}">
        <input type="hidden" name="pitchId" value="{{id}}">
        <input type="submit" value="{{name}}">
        <p>{{location}}</p>
        <p>{{openTime}}</p>

    </form>
{{/pitchModel}}





</div>

</body>
</html>
